#featured_slide {
	position:relative;
	margin:0 auto 0;
	display:block;
	width:960px;
	height:500px; 
	overflow:hidden;
	font-size:13px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	background-color:#22C0FD;
	}
#featured_slide ul, #featured_slide img{
	margin:0;
	padding:0;
	border:none;
	outline:none;
	list-style:none;
	text-decoration:none;
	}
#featured_slide ul.picture{
	list-style:none;
	width:9000px;
	position:absolute;
	background:url(../images/loading_circle.gif) no-repeat 435px 205px; 
}
#featured_slide ul.picture li{
	display:inline;
	float:left;
	}
#featured_slide ul.picture li img{
	width:960px; 
	height:500px;   
	display:block;
	}
#featured_slide img.home_one{
	background:url(../images/pic_home.jpg) no-repeat 0px 0px;
}
#featured_slide img.home_two{
	background:url(../images/pic_home.jpg) no-repeat -960px 0px;
}
#featured_slide img.home_three{
	background:url(../images/pic_home.jpg) no-repeat -1920px 0px;
}
#featured_slide img.home_four{
	background:url(../images/pic_home.jpg) no-repeat -2880px 0px;
}
#featured_slide img.home_five{
	background:url(../images/pic_home.jpg) no-repeat -3840px 0px;
}
#featured_slide ul.control {
	position:absolute;
	right:15px;
	bottom:15px;
	visibility:hidden;
}
#featured_slide ul.control li{
	float: left;
	color: #FF7300;
	text-align: center;
	line-height: 16px;
	width: 16px;
	height: 16px;
	font-family: Arial;
	font-size: 12px;
	cursor: pointer;
	overflow: hidden;
	margin: 3px 1px;
	border: 1px solid #FF7300;
	background-color: #fff;
}
#featured_slide ul.control li.on{
	color: #fff;
	line-height: 21px;
	width: 21px;
	height: 21px;
	font-size: 16px;
	margin: 0 1px;
	border: 0;
	background-color: #FF7300;
	font-weight: bold;
}