@charset "utf-8";
@import url(navi.css);
@import url(forms.css);
@import url(tables.css);
@import url(featured_slide.css);
@import url(loginslider.css);
@import url(photowall.css);


body{
	margin:0;
	padding:0;
	font-size:12px;
	font-family:verdana, Arial, Helvetica, sans-serif;
	color:#333333;
	background-color:#FFFFFF;
	}

img{display:block; margin:0; padding:0; border:none;}
.justify{text-align:justify;}
.bold{font-weight:bold;}
.center{text-align:center;}
.right{text-align:right;}
.nostart{list-style-type:none; margin:0; padding:0;}
.clear{clear:both;}
br.clear{clear:both; margin-top:-15px;}

a{outline:none; text-decoration:none;}

.fl_left{float:left;}
.fl_right{float:right;}

.imgl, .imgr{border:1px solid #999999; padding:5px;}
.imgl{float:left; margin:0 8px 8px 0; clear:left;}
.imgr{float:right; margin:0 0 8px 8px; clear:right;}

/* ----------------------------------------------Wrapper-------------------------------------*/

div.wrapper{
	display:block;
	width:100%;
	margin:0;
	text-align:left;
	}

div.wrapper h1, div.wrapper h2, div.wrapper h3, div.wrapper h4, div.wrapper h5, div.wrapper h6{
	margin:0;
	padding:0;
	font-size:20px;
	font-weight:normal;
	line-height:normal;
	font-family:Georgia, "Times New Roman", Times, serif;
	}

.col0{color:#FFFFFF; background-color:#2D3134; border-top:5px solid #4A5155;}
.col1, .col1 a{color:#C4C5C3; background-color:#2D3134;}
.col2{color:#FFFFFF; background-color:#02ACEE; padding:15px 0}
.col3{color:#666666; background-color:#FFFFFF;}
.col3 a{color:#02ACEE; background-color:#FFFFFF;}
.col4{color:#CCCCCC; background-color:#2A2B2F;}
.col4 a{color:#02ACEE; background-color:#2A2B2F;}
.col5, .col5 a{color:#666666; background-color:#1B1B1B;}

div.col1{
	position:fixed;
	top:0px;
	left:0px;
	z-index:999;
	height:85px;   /*导航条高度*/
	overflow:hidden;
}
div.col2{
	margin-top:85px;
}
/*-----------------------------------------iframe----------------------------------------------*/

#detail_frame{
	display:block;
	border:none;
}

/* ----------------------------------------------Generalise-------------------------------------*/

#header, #topbar, #topnav, #breadcrumb, #homecontent, #container, #footer, #copyright{
	position:relative;
	margin:0 auto 0;
	display:block;
	width:960px;
	}

	
/* ----------------------------------------------Header-------------------------------------*/

#header{
	margin-top:10px;  /*距离导航条顶部距离*/
	padding:0 0 20px 0;
	}

#logo{
	display:block;
	float:left;
	width:440px;
	margin:20px 0 0 5px;
	overflow:visible;
	}
#logo img{
	display:block;
	width:190px;
	height:55px;
	float:left;
	margin-top:-12px;
}
#logo h1, #header p, #header ul{
	margin:0;
	padding:0;
	list-style:none;
	line-height:normal;
	}
#logo h1{
	font-size:30px;
	}

/* ----------------------------------------------BreadCrumb-------------------------------------*/

#breadcrumb a{
	color:#FFFFFF;
	background-color:#02ACEE;
	}
#breadcrumb a:hover{
	border-bottom:1px solid #FFFFFF;
	padding:0 0 3px 0;
}
#breadcrumb ul{
	margin:0;
	padding:0;
	list-style:none;
	}

#breadcrumb ul li{display:inline;}
/*
#breadcrumb ul li.current a{text-decoration:underline;}
*/

/* ----------------------------------------------Container-------------------------------------*/

#container{
	padding:20px 0;
	margin-bottom:30px;
	}

#container h1, #container h2, #container h3, #container h4, #container h5, #container h6, #homecontent h2{
	font-size:20px;
	margin:0 0 15px 0;
	padding-bottom:8px;
	color:#666666;
	background-color:#FFFFFF;
	border-bottom:1px dotted #999999;
	}

/* ----------------------------------------------Homepage-------------------------------------*/

#homecontent{
	padding:30px 0;
	line-height:1.3em;
	}

#homecontent img{
	padding:4px;
	border:1px solid #999999;
	}

#homecontent ul{
	margin:0;
	padding:0;
	list-style:none;
	}

#homecontent p.readmore{
	font-weight:bold;
	text-align:right;
	}

#homecontent .fl_left{
	display:block;
	float:left;
	width:530px;
	}

#homecontent .fl_left h2{
	font-weight:bold;
}
#homecontent .fl_left p{
	line-height:18px;
}

#homecontent .fl_right ul li p{
	display:block;
	margin:0;
	margin-right:10px;
	padding:5px 10px 5px 20px;
	color:#777777;
	background:url("../images/blue_file.gif") no-repeat 10px 10px;
	text-decoration:none;
}
#homecontent .fl_right h2{
	font-weight:bold;
}

#homecontent .fl_right{
	display:block;
	float:right;
	width:385px;
	}

#homecontent .fl_right li{
	display:block;
	width:385px;
	margin:0 0 10px 0;
	padding:0 0 8px 0;
	border-bottom:1px dotted #999999;
	}
#homecontent .fl_right li.last{
	border-bottom:none;
	}

/* ----------------------------------------------Content-------------------------------------*/

#content{
	display:block;
	float:left;
	width:600px;
	}

/* ----------------------------------------------Column-------------------------------------*/

#column{
	display:block;
	float:right;
	overflow:hidden;
	}

#column .holder, #column #featured{
	display:block;
	width:310px;
	padding:20px;
	margin-bottom:20px;
	background-color:#F9F9F9;
	}

#column .holder h2.title{
	display:block;
	width:100%;
	height:55px;
	margin:0;
	padding:15px 0 0 0;
	font-size:20px;
	line-height:normal;
	border-bottom:1px dotted #999999;
	background:none;
	}

#column .holder h2.title img{
	float:left;
	margin:-15px 8px 0 0;
	padding:5px;
	border:1px solid #999999;
	width:57px;
	height:50px;
	}
#column .holder ul.list{
	list-style:none;
	margin-left:-30px;
}
#column .holder ul.list li{
	padding-left:10px;
}
#column .holder ul.list li.tip{
	background:url(../images/black_file.gif) no-repeat left center;
}
#column div.imgholder{
	display:block;
	width:290px;
	margin:0 0 10px 0;
	padding:4px;
	border:1px solid #CCCCCC;
	}

#column .holder p.readmore{
	display:block;
	width:100%;
	font-weight:bold;
	text-align:right;
	line-height:normal;
	}
	
/* Featured Block */

#column #featured ul, #column #featured h2, #column #featured p{
	margin:0;
	padding:0;
	list-style:none;
	color:#666666;
	background-color:#F9F9F9;
	}

#column #featured a{
	color:#02ACEE;
	background-color:#F9F9F9;
	}

#column #featured li{
	display:block;
	width:250px;
	margin:0;
	padding:20px 25px;
	color:#666666;
	background-color:#F9F9F9;
	}

#column #featured li p.imgholder{
	display:block;
	width:240px;
	height:90px;
	margin:20px 0 15px 0;
	padding:4px;
	border:1px solid #CCCCCC;
	}

#column #featured li h2{
	margin:0;
	padding:0 0 8px 0;
	font-weight:normal;
	font-family:Georgia, "Times New Roman", Times, serif;
	line-height:normal;
	border-bottom:1px dotted #999999;
	}

#column #featured p.readmore{
	display:block;
	width:100%;
	margin-top:15px;
	font-weight:bold;
	text-align:right;
	line-height:normal;
	}

#column #latestnews{
	display:block;
	width:100%;
	margin:0;
	padding:0;
	list-style:none;
	}

#column #latestnews li{
	display:block;
	margin:0 0 20px 0;
	padding:0 0 15px 0;
	border-bottom:1px dotted #CCCCCC;
	}

#column #latestnews li.last{
	margin-bottom:0;
	}

#column #latestnews p{
	margin:0 0 5px 0;
	padding:0;
	}

#column #latestnews p.readmore{
	margin:0;
	padding:0;
	}

#column #latestnews .imgl{
	margin:0 10px 10px 0;
	padding:4px;
	}

/* ----------------------------------------------Footer-------------------------------------*/

#footer{
	padding:20px 0;
	}

#footer h2, #footer p, #footer ul, #footer a{
	margin:0;
	padding:0;
	font-weight:normal;
	list-style:none;
	line-height:normal;
	}

#footer h2{
	font-size:18px;
	font-weight:normal;
	margin-bottom:10px;
	padding-bottom:8px;
	border-bottom:1px dotted #999999;
	}

#footer li{
	margin-bottom:5px;
	}

#footer .footbox{
	display:block;
	float:left;
	/*width:180px;*/
	margin:0 80px 0 0;
	padding:0;
	}

#footer .last{
	margin:0;
	}

/* ----------------------------------------------Copyright-------------------------------------*/

#copyright{
	padding:15px 0;
	}
#copyright p{
	margin:0;
	padding:0;
	}